@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: theme(colors.light-background);
}
.dark body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: theme(colors.dark-background);
}
body::-webkit-scrollbar
{
    width: 6px;
}
body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
    background-color: theme(colors.primary-blue);
}


nav a:visited {
  cursor: pointer;
  color: #ffffff;
}

nav a:hover {
  cursor: pointer;

}

nav a.active {
  color: theme('colors.primary-blue')
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}